<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <servlet>
    <description></description>
    <display-name>HeartbeatServlet</display-name>
    <servlet-name>HeartbeatServlet</servlet-name>
    <servlet-class>com.learning.hello.HeartbeatServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HeartbeatServlet</servlet-name>
    <url-pattern>/HeartbeatServlet</url-pattern>
  </servlet-mapping>
  <display-name>dynamictest</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Fibonacci</display-name>
    <servlet-name>Fibonacci</servlet-name>
    <servlet-class>com.learning.hello.Fibonacci</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Fibonacci</servlet-name>
    <url-pattern>/Fibonacci</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Passvalid</display-name>
    <servlet-name>Passvalid</servlet-name>
    <servlet-class>com.learning.hello.Passvalid</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Passvalid</servlet-name>
    <url-pattern>/Passvalid</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ButtonClickServlet</display-name>
    <servlet-name>ButtonClickServlet</servlet-name>
    <servlet-class>com.learning.hello.ButtonClickServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ButtonClickServlet</servlet-name>
    <url-pattern>/ButtonClickServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HiLoServlet</display-name>
    <servlet-name>HiLoServlet</servlet-name>
    <servlet-class>com.learning.hello.HiLoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HiLoServlet</servlet-name>
    <url-pattern>/HiLoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HelloServlet</display-name>
    <servlet-name>HelloServlet</servlet-name>
    <servlet-class>com.learning.hello.HelloServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HelloServlet</servlet-name>
    <url-pattern>/HelloServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HiLoController</display-name>
    <servlet-name>HiLoController</servlet-name>
    <servlet-class>com.learning.hello.controller.HiLoController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HiLoController</servlet-name>
    <url-pattern>/HiLoController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OdometerServlet</display-name>
    <servlet-name>OdometerServlet</servlet-name>
    <servlet-class>com.learning.hello.OdometerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OdometerServlet</servlet-name>
    <url-pattern>/OdometerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>mangathagame</display-name>
    <servlet-name>mangathagame</servlet-name>
    <servlet-class>com.game.mangatha.mangathagame</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>mangathagame</servlet-name>
    <url-pattern>/mangathagame</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>noticeBoardServlet</display-name>
    <servlet-name>noticeBoardServlet</servlet-name>
    <servlet-class>com.notice.noticeboard.noticeBoardServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>noticeBoardServlet</servlet-name>
    <url-pattern>/noticeBoardServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>puzzlegameservlet</display-name>
    <servlet-name>puzzlegameservlet</servlet-name>
    <servlet-class>com.puzzle.game.puzzlegameservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>puzzlegameservlet</servlet-name>
    <url-pattern>/puzzlegameservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TennisServlet</display-name>
    <servlet-name>TennisServlet</servlet-name>
    <servlet-class>com.tennis.servlet.TennisServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TennisServlet</servlet-name>
    <url-pattern>/TennisServlet</url-pattern>
  </servlet-mapping>
</web-app>